<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views https://axelor.com/xml/ns/object-views/object-views_6.1.xsd">

<menuitem name="eyc-menu-parent-hello-world"
            title="Hello world"
            icon="fa-cubes" icon-background="blue"
            action="hello-world-action" />

 
<menuitem name="bbank-menu-catalogs"
            title="Catalogs"
            icon="fa-clone" icon-background="green" />

    <menuitem name="bbank-menu-catalogs-categories"
                parent="bbank-menu-catalogs"
                title="Category"
                action="category-action" />
    <menuitem name="bbank-menu-catalogs-products"
                parent="bbank-menu-catalogs"
                title="Product"
                action="product-action" />

      <menuitem name="bbank-menu-catalogs-customers"
                parent="bbank-menu-catalogs"
                title="Customer"
                action="customer-action" />

<menuitem name="bbank-menu-invoicing-operator" groups="OPERATOR"
            title="Invoices"
            icon="fa-clone" icon-background="green"
            action="invoice.action" />

 
</object-views>

