<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views https://axelor.com/xml/ns/object-views/object-views_6.1.xsd">


<menuitem name="eyc-menu-productos"
            title="Productos"
            icon="fa-cubes" icon-background="blue"
            action="producto-todos-accion" />

<menuitem name="eyc-menu-parent-clientes"
            title="Clientes"
            icon="fa-cubes" icon-background="yellow"
             />

      <menuitem name="eyc-menu-clientes-todos"
                  parent="eyc-menu-parent-clientes"
                  title="Todos los clientes"
                  action="cliente-todos-accion" />

      <menuitem name="eyc-menu-clientes-morosos"
                  parent="eyc-menu-parent-clientes"
                  title="Clientes Morosos"        
                  action="cliente-morosos-accion" />

      <menuitem name="eyc-menu-clientes-al-dia"
                  parent="eyc-menu-parent-clientes"
                  title="Clientes al día"
                  action="cliente-al-dia-accion" />

      <menuitem name="eyc-menu-clientes-con-pagos"
                  parent="eyc-menu-parent-clientes"
                  title="Clientes con pagos"
                  action="cliente-con-pagos-accion" />
                  
</object-views>

